<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woorifisan.bank.domain.account.mapper.AccountMapper">
    <select id="findById" resultType="Account">
        SELECT * FROM account WHERE id = #{id}
    </select>

    <select id="findByIdForUpdate" resultType="Account">
        SELECT * FROM account WHERE id = #{id} FOR UPDATE
    </select>

    <select id="findByAccountNoPlain" resultType="Account">
        SELECT * FROM account WHERE account_no_enc = #{accountNo}
    </select>

    <update id="updateBalance">
        UPDATE account SET balance = balance + #{amount} WHERE id = #{id}
    </update>
</mapper>
