# ── DB ──────────────────────────────────────────
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# ── Redis ────────────────────────────────────────
REDIS_HOST=
REDIS_PORT=

# ── JWT ──────────────────────────────────────────
JWT_SECRET=
REFRESH_TOKEN_EXPIRATION_SECONDS=

# ── Qdrant ───────────────────────────────────────
QDRANT_HOST=
QDRANT_PORT=

# ── WebClient ───────────────────────────────────
BANK_SERVER_URL=

# ── BaaS ────────────────────────────────────────
WOORI_BASE_URL=https://
SHINHAN_BASE_URL=https://
KB_BASE_URL=https://


# ── 로그인에 사용되는 키 ────────────────────────────
PLATFORM_SECURITY_PUBLIC_KEY=
PLATFORM_SECURITY_PRIVATE_KEY=
TERMINAL_SECURITY_PUBLIC_KEY=

# ── GCP (Gemini) ─────────────────────────────────
GOOGLE_AI_API_KEY=
GOOGLE_CLOUD_PROJECT_ID=

# ── Fluent Bit ────────────────────────────
FLUENT_BIT_PORT=
LOGGING_PATH=
MONITORING_SERVER_IP=
MONITORING_SERVER_PORT=
LOKI_PORT=

# ── Port ────────────────────────────────────────
PLATFORM_BACKEND_PORT=


SSL_KEYSTORE_PATH=
SSL_KEYSTORE_PASSWORD=

SSL_TRUSTSTORE_PATH=
SSL_TRUSTSTORE_PASSWORD=