# ── DB ──────────────────────────────────────────
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# ── Redis ────────────────────────────────────────
REDIS_HOST=
REDIS_PORT=

# ── Port ────────────────────────────────────────
BANK_BACKEND_PORT=
BANK_NAME=
BANK_CODE=

# ── Bank network ────────────────────────────────
WOORI_BANK_URL=https://
SHINHAN_BANK_URL=https://
KB_BANK_URL=https://

# ── Encryption ──────────────────────────────────
DB_ENCRYPTION_KEY=
BLIND_INDEX_SALT=

# ── Document Storage ─────────────────────────────
DOCUMENT_STORAGE_PATH=

SSL_SERVER_KEYSTORE_PATH=file:
SSL_SERVER_KEYSTORE_PASSWORD=

SSL_TRUSTSTORE_PATH=file:
SSL_TRUSTSTORE_PASSWORD=