<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woorifisan.bank.domain.document.mapper.CommonDocumentMapper">
    <select id="findById" resultType="CommonDocument">
        SELECT * FROM common_document WHERE id = #{id}
    </select>
</mapper>
